<header>
  <%= link_to "Coaches", "/coaches" %>
  <%= link_to "Athletes", "/athletes" %>
</header>
<body>
<h1> Coach <%= "#{@coach.name}" %></h1>
<h2><%= "#{@coach.club}" %> Roster </h2>
<% @athletes.each do |athlete| %>
<ul>
  <li><h3><%= athlete.name %></h3></li>
  <li><p> Rank: <%=  athlete.rank %></p></li>
  <li><p> Championship Qualifier? <%= athlete.championship_qualifier %></p></li>
</ul>
<% end %>

</body>
<footer>
   <%= link_to "Create New Athlete", "/coaches/#{@coach.id}/athletes/new" %>
   <%# <%= link_to "Alphbabetize Athletes", "/athletes/#{@athlete.id}/athletes?sort=asc" %> %>
</footer>
