<header>
  <%= link_to "Coaches", "/coaches" %>

</header>
<body>
<h1><%= @coach.name %></h1>

<p>Club: <%= @coach.club %></p>
<p>Years of Experience: <%= @coach.years_experience %></p>
<p>Total Number of Athletes: <%= @coach.number_of_athletes %></p>
<p>Recruiting: <%= @coach.recruiting_athletes %></p>

</body>
