<header>
  <%= link_to "Coaches", "/coaches" %>
  <%= link_to "Athletes", '/athletes' %>
</header>
<body>
<h1><%= @coach.name %></h1>

<p>Club: <%= @coach.club %></p>
<p>Years of Experience: <%= @coach.years_experience %></p>
<p>Total Number of Athletes: <%= @coach.number_of_athletes %></p>
<p>Recruiting: <%= @coach.recruiting_athletes %></p>
<br>
  <%= link_to "View this Coach's Roster", "/coaches/#{@coach.id}/athletes" %>
</body>
<footer>
   <%= link_to "Update Coach Info", "/coaches/#{@coach.id}/edit" %>
   <%= link_to "Delete this Coach", "/coaches/#{@coach.id}", method: :delete %>
</footer>
